@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-image: url(/img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

/* HEADER */

.nav-bar {
    padding-right: 70px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    justify-content: flex-end;
}

.container {
    height: 100%;
    width: 100%;
}

.main-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    padding: 70px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.line {
    width: 1px;
    height: 19px;
    padding-right: 19px;
    padding-left: 19px;
}

li {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 2rem;
}

.left-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.social-link {
    color: aliceblue;

}

/* SIGN-UP */

.second-container {
    width: 100vw;
    height: calc(100vh - 58px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    overflow: scroll;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fieldset-1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.sign-up-legend {
    font-size: 20px;
    color: #434343;
    cursor: pointer;
}

.Log-in {
    cursor: pointer;
    color: #3cb878;
    font-size: 20px;
}

.head-text {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 322px;
}

.menu-main {
    position: relative;
    width: 444px;
    background-color: #F2F2F2;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding-bottom: 38px;
    padding-top: 31px;
    height: 584px;
}

.menu-main::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 34px;
    background-color: #01813F;
}

.buttons-main {
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    width: 160px;
    height: 48px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    gap: 10px;
}

.facebook {
    background-color: #305DB8;

}

.google {
    background-color: #DF4A32;
}

.buttons {
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* HOVER */

.social-link:hover {
    color: #01813F;
}

.text-1:hover {
    color: #01813F;
}

.text-2:hover {
    color: #01813F;
}

.logo:hover {
    color: #01813F;
}

.facebook:hover {
    background-color: #022263;
}

.google:hover {
    background-color: #AB1F09;
}

/* INPUT */
input[type="text"],
input[type="email"],
input[type="password"] {
    height: 44px;
    width: 322px;
    border: 1px solid white;
    border-radius: 4px;
    color: #434343;
    font-size: 14px;
}

.input {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1.2rem;
}

.or::before {
    content: "";
    position: absolute;
    width: 157px;
    height: 1px;
    top: 50%;
    left: 60px;
    background-color: #848484;
    opacity: 0.2;
}

.or::after {
    content: "";
    position: absolute;
    width: 157px;
    height: 1px;
    top: 50%;
    left: 230px;
    background-color: #848484;
    opacity: 0.2;
}

.or {
    color: black;
    position: relative;
    margin-top: 31px;
    width: 100%;
    display: flex;
    justify-content: center;

}

input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
    display: none;
}

.text-checkbox {
    color: black;
    margin-left: 5px;
    margin-bottom: 10px;
}

.fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: relative;
    top: 5px;
}

.fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(img/Vector123.png);
    opacity: 0;
    transition: 0.2s;
    background-repeat: no-repeat;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.galochka {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.terms{
    color:#3CB878;
}
.terms:hover{
    text-decoration: underline;
}
.last-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button-last{
    width: 324px;
height: 46px;
border-radius: 4px;
background: rgba(60, 184, 120, 0.8);
border: hidden;
color: white;
}
.button-last:hover{
    background-color: #01813F;
}

[theme = dark] .menu-main{
    background-color:black;

}

[theme = dark] input::-webkit-input-placeholder {
    color: white ;
}
.change-theme-btn{
    margin-left: 500px;
}